.input {
    display: inline-block;
    padding: 1px;
    width: 80%;
    block-size: auto;
    margin: 1px;
}

textarea {
    display: block;
    height: 25vh;
    width: 50vh;
    margin-left: auto;
    margin-right: auto;
    resize: none;
}

.posts{
    margin: 2%;
}

.post-control{
    width: 30%;
    margin: 0 auto;
    padding: 0.5%;
    text-align: center;
}
